<div>
    <h4 class="text-primary pt-3">Another Child Component</h4>
    <input id="nametemp" @attributes="InputAttributes" />
</div>
@code {

    // Capture unmatched value = when parent component add additional parameter, it will catch it here and assign to this child component
    [Parameter(CaptureUnmatchedValues =true)]
    public Dictionary<string, object>? InputAttributes { get; set; } = new Dictionary<string, object>()
    {
        { "required", "required" },
        { "placeholder", "Enter your name" },
        { "maxlength", 5 }
    };


}
