<h3>@MessageForGrandChild</h3>

Lucky number is @LuckyNumberForGrandChild

@code {

    [CascadingParameter(Name = "message")]
    public string? MessageForGrandChild  { get; set; }

    [CascadingParameter(Name = "luckyNumber")]
    public string? LuckyNumberForGrandChild  { get; set; }
}
