@page "/learnBlazor/demoProduct"

@using Tangy_Models.LearnBlazorModels;
@using TangyWeb_Server.Pages.LearnBlazor.LearnBlazorComponents;

<h2 class="text-primary">Demo Product</h2>

<p>
    Favorite Total: @SelectedFavoriteCount
</p>

<p>
    Last Selected Product: @SelectedProduct.Name
</p>

<div class="border p-2 mt-2" style="background-color:azure">
    <div class="row ps-2">
        @foreach (var prod in products)
        {
            <_IndividualProduct Product="prod" OnFavoriteSelection="FavoriteCountUpdate" OnProductSelected="LastProductSelected"></_IndividualProduct>
        }
    </div>
</div>

@code {
    List<Demo_Product> products = new();

    private int SelectedFavoriteCount { get; set; } = 0;
    private Demo_Product SelectedProduct { get; set; } = new ();

    Demo_Product product = new()
    {
        Id = 1,
        Name = "Rose Candle",
        IsActive = true,
        Price = 10.99,
        ProductProperties = new List<Demo_ProductProp>()
        {
            new Demo_ProductProp { Id = 1, Key = "Color", Value = "Black" },
            new Demo_ProductProp { Id = 2, Key = "Flavor", Value = "Rose Jasmine" },
            new Demo_ProductProp { Id = 3, Key = "Size", Value = "20oz" }
        }
    };

    protected override void OnInitialized()
    {
        products.Add(new()
        {
            Id = 1,
            Name = "Midnight Blaze",
            IsActive = false,
            Price = 25.99,
            ProductProperties = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Rose" },
                new Demo_ProductProp { Id = 2, Key = "Size", Value = "20oz" },
                new Demo_ProductProp { Id= 3, Key = "Color", Value = "Purple" }
            }
        });

        products.Add(new()
        {
            Id = 2,
            Name = "Blossom Lily",
            IsActive = true,
            Price = 35.88,
            ProductProperties = new()
            {
                new Demo_ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                new Demo_ProductProp { Id = 2, Key = "Size", Value = "18oz" },
                new Demo_ProductProp { Id= 3, Key = "Color", Value = "White" }
            }
        });
    }

    protected void FavoriteCountUpdate(bool isSelected)
    {
        if (isSelected)
        {
            SelectedFavoriteCount++;
        } else
        {
            SelectedFavoriteCount--;
        }
    }

    protected void LastProductSelected(Demo_Product product)
    {
        SelectedProduct = product;
    }
}
